<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Login</display-name>
   <welcome-file-list>
    <welcome-file>login.html</welcome-file>
   
  </welcome-file-list>
  <servlet-mapping>
 <servlet-name>register</servlet-name>
 <url-pattern>/registercall</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>register</servlet-name>
  
  <servlet-class>com.tap.Register</servlet-class>
  
  
  </servlet>
  
  <servlet-mapping>
 <servlet-name>login</servlet-name>
 <url-pattern>/logincalling</url-pattern> 
  </servlet-mapping>
  <servlet>
  <servlet-name>login </servlet-name>
  
  <servlet-class>com.tap.Login</servlet-class>
  
  
  </servlet>
  
</web-app>